body{
    background: #2A9FCA;
    font-size: 20px;
}
.logo{
    display: block ;
    background-color:pink;
    margin-left: auto ;
    margin-right: auto ;
    border: 3px solid rgb(85, 142, 207);
    border-radius: 70px;
}
.app-title{
    margin-left: 570px;
    color: darkmagenta;
}
.name{
    border: solid 2px rgb(18, 38, 219) ;
    border-radius: 20px;
    color: rgb(197, 88, 25);
}
.list{
    margin-left: -80px;
}
.container{
    margin-left: 570px;
}
ul{
    list-style: none;
    
}
